* {
    padding: 5px;
}

.cv-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px;
    /* align-items: start; */
} 

img {
    width: 150px;
}

.photo--container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.title--container {
    border-bottom: 2px solid black;
}



.title--container--contact, .title--container--address {
    display: flex;
    gap: 5px;
}

.title--container--name {
    font-size: 3rem;
    font-weight: 700;
}

.skills--container {
    /* grid-column: 1 / 2;
    grid-row: 2 / 5; */
    /* align-self: start; */
    border-right: 2px solid black;
}
.education--container {
    /* align-self: start; */
    /* grid-column: 1 / 2;
    grid-row: 5 / -1; */
    /* border-right: 2px solid black; */
}
.profSummary--container {
    /* align-self: start; */
    border-right: 2px solid black;
    /* grid-column: 2 / -1;
    grid-row: 2 / 4; */
}
.workHistory--container {
    /* align-self: start; */
    /* grid-column: 2 / -1;
    grid-row: 4 / -1; */
}



























/* display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto;
grid-template-areas:
    "header header header"
    "tel seperator email"
    "road city postcode" */
/* .title--container--name {
    grid-area: header;
}
.title--container--tel {
    grid-area: tel;
}
.title--container--email {
    grid-area: email;
}
.title--container--address--road {
    grid-area: road;
}
.title--container--address--city {
    grid-area: city;
}
.title--container--address--postcode {
    grid-area: postcode;
}
.title--container--seperator {
    grid-area: seperator;
} */